<extend name="../../Home/View/Public/base" />

<block name="page-content">
    <div class="view-product">
        <form id="ff">
            <div class="info-center">

                <div class="manage-head">
                    <h6 class="padding-left manage-head-con">系统配置</h6>
                </div>

                <div class="offcial-table input-table table-margin clearfix ">

                    <div class="tr-th clearfix ">
                        <div class="th w100 padding-left-15">司机分成比例</div>
                    </div>

                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w20">司&nbsp;&nbsp;&nbsp;机&nbsp;&nbsp;&nbsp;分&nbsp;&nbsp;成：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.driver_rate}" style="width:100px;" class="input" name="driver_rate"/></span> %</div>
                        <div class="td w20">公&nbsp;&nbsp;&nbsp;司&nbsp;&nbsp;&nbsp;分&nbsp;&nbsp;成：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.driver_rate}" style="width:100px;" class="input" name="driver_rate"/></span> %</div>
                    </div>

                    <div class="tr-th clearfix ">
                        <div class="th w100 padding-left-15">三级分销抽成比例（基于司机抽成后的订单金额）</div>
                    </div>

                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w20">一&nbsp;级&nbsp;推&nbsp;荐&nbsp;人：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.one_rate}" style="width:100px;" class="input" name="one_rate"/></span> %</div>
                        <div class="td w20">二级推荐人：<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.two_rate}" style="width:100px;" class="input" name="two_rate"/></span> %</div>
                        <div class="td w20">租赁公司提成：<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.three_rate}" style="width:100px;" class="input" name="three_rate"/></span> %</div>
                        <!--<div class="td w20">平台：<span style="line-height:30px;padding-left:5px;"><input type="number" disabled value="{$info.terrace_rate}" style="width:100px;" class="input" name="terrace_rate"/></span> %</div>-->
                    </div>

                    <div class="tr-th clearfix ">
                        <div class="th w100 padding-left-15">司机奖励配置（一周）</div>
                    </div>

                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w20">订&nbsp;&nbsp;&nbsp;单&nbsp;&nbsp;&nbsp;金&nbsp;&nbsp;额：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.db_money}" style="width:100px;" class="input" name="db_money"/></span> 元</div>
                        <div class="td w20">推荐人数：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.db_person}" style="width:100px;" class="input" name="db_person"/></span></div>
                        <div class="td w20">获&nbsp;&nbsp;&nbsp;奖&nbsp;&nbsp;人&nbsp;&nbsp;&nbsp;数：&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.bonud_person}" style="width:100px;" class="input" name="bonud_person"/></span> </div>
                        <div class="td w20">奖励金额：<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.bonud_money}" style="width:100px;" class="input" name="bonud_money"/></span> 元</div>
                    </div>


                    <div class="tr-th clearfix ">
                        <div class="th w100 padding-left-15">积分设置</div>
                    </div>

                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w20">注册赠送积分：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.z_integral}" style="width:100px;" class="input" name="z_integral"/></span> </div>
                    </div>

                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w20">消&nbsp;&nbsp;&nbsp;费&nbsp;&nbsp;&nbsp;积&nbsp;&nbsp;分：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.x_integral}" style="width:100px;" class="input" name="x_integral"/></span> 积分</div>
                        <div class="td w20">抵消金额：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.d_money}" style="width:100px;" class="input" name="d_money"/></span> 元</div>
                    </div>

                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w20">支&nbsp;&nbsp;&nbsp;付&nbsp;&nbsp;&nbsp;金&nbsp;&nbsp;额：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.zf_money}" style="width:100px;" class="input" name="zf_money"/></span> 元</div>
                        <div class="td w20">赠送积分：&nbsp;&nbsp;&nbsp;<span style="line-height:30px;padding-left:5px;"><input type="number" value="{$info.zs_integral}" style="width:100px;" class="input" name="zs_integral"/></span> 积分</div>
                    </div>

                </div>

                <!--操作按钮 start-->
                <div class="text-center padding-top">
                    <div class="td w80">
                        <button type="button" class="button bg-blue inlib-product" id="sub">提交</button>
                    </div>
                </div>
                <!--操作按钮 end -->

            </div>
        </form>
    </div>

    <script>
        var data,confirm,load,_this;

        $(function() {
            sub();
        })

        function sub() {
            $('body').on('click', '#sub', function() {
                _this = $(this);

                $.ajax({
                    type:'POST',
                    data:$('#ff').serialize(),
                    dataType:'json',
                    beforeSend:function() {
                        _this.prop('disabled', 'true');
                        load = layer.load(2);
                    },
                    success:function(obj) {
                        msg(obj.msg);
                        if(obj.status) {
                            setTimeout(function() {
                                window.location.reload();
                            }, 800);
                        }
                    },
                    complete:function() {
                        _this.prop('disabled', '');
                        layer.close(load);
                    },
                    error:function() {
                        msg('系统繁忙');
                    }
                });
            });
        }

    </script>

</block>