<extend name="../../Home/View/Public/base" />
<block name="page-content">
    <div class="view-product">
        <div class="info-center">

            <div class="table-margin ">
                <notempty  name="list">
                    <table class="table table-hover">
                        <tr class="table-header border">
                            <th class="w10">排序</th>
                            <th class="w10">账户</th>
                            <th class="w10">昵称</th>
                            <th class="w15">操作</th>
                        </tr>

                        <tbody id="itemContainer">
                        <volist name="list" id="item">
                            <tr class="list">
                                <td>{$i}</td>
                                <td>{$item.account}</td>
                                <td>{$item.nick_name}</td>
                                <td>
                                    <a href="javascript:void(0)" onclick="del({$item.id})"  class="btn btn-warning btn-small">删除</a>
									| <a href="javascript:void(0)" onclick="repassword({$item.id})"  class="btn btn-success btn-small">修改密码</a>
                                </td>
                                
                            </tr>
                        </volist>
                        </tbody>

                    </table>
                    <else/>
                    <div style="text-align:center"><span style="color:#CCCCCC;font-size:18px">没有符合条件的记录</span></div>
                </notempty >
            </div>
            <!-- fpage -->
            <div class="page">{$fpage}</div>
        </div>
    </div>

    <script>

        function del(id){
            
            $.ajax({
                type:'POST',
                url:"{:U('adminDel')}",
                data:{'id':id},
                dataType:'json',
                success:function(data) {
                    layer.msg(data.msg);

                    if(data.status)
                    {
                        setTimeout(function() {window.parent.close_layer(data.msg);}, 700)
                    }
                }
            });
        }
        function repassword(id){
		alert(id);
            layer.open({
                type: 2,
                title: '修改密码',
                shadeClose: true,
                shade: 0.8,
                skin: 'layui-layer-title-jxc',
                area: ['500px', '200px'],
                content:'/Home/Rabc/repassword/id/' + id,
            });
		}
        function open_layer(obj, title, width, height) {
            var url = $(obj).data('url');
            layer.open({
                type: 2,
                title: title,
                shadeClose: true,
                shade: 0.8,
                skin: 'layui-layer-title-jxc',
                area: [width, height],
                content:url,
            });
        }
        
        function close_layer(msg) {
            if (msg) {
                setTimeout(function () {
                    layer.closeAll('iframe');
                }, 500);
                layer.msg(msg);
                window.location.reload();
            } else {
                layer.closeAll('iframe');
            }
        }

    </script>


</block>

