<extend name="../../Home/View/Public/base" />
<block name="page-content">
    <form id="post_form">
        <div class="offcial-table input-table table-margin clearfix ">
            <div class="tr-th clearfix ">
                <div class="td w15 padding-left-15 strong text-right">节点名称：</div>
                <div class="td w80 padding-left-15 strong"><input type='text' class='w75 input remark' name='title' id='title' value="{$node.title}" /></div>
            </div>
            <div class="tr-th clearfix ">
                <div class="td w15 padding-left-15 strong text-right">节点连接：</div>
                <div class="td w80 padding-left-15 strong"><input type='text' class='w75 input remark' name='name' id='name' value="{$node.name}" /></div>
            </div>
            <div class="tr-th clearfix ">
                <div class="td w15 padding-left-15 strong text-right">归属菜单：</div>
                <div class="td w80 padding-left-15 strong">
                    <select name="groupid" class="input w50">
                        <volist name="menu" id="me">
                            <option value="{$me.id}">{$me.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="tr-th clearfix ">
                <div class="td w15 padding-left-15 strong text-right">是否菜单：</div>
                <div class="td w80 padding-left-15 strong">
                    <select name="ismenu" class="input w50">
                            <option value="1">是</option>
                            <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="tr-th clearfix ">
                <div class="td w15 padding-left-15 strong text-right">显示顺序：</div>
                <div class="td w80 padding-left-15 strong"><input type='number' class='w25 input remark' name='sort' id='sort' value="{$node.sort}" /></div>
            </div>
        </div>

        <div class="tr-th clearfix padding-top text-center">
            <div class="td padding-left-15 strong">
                <input type='hidden' name='id' value="{$id}"  />
                <input type='button' value='提交' class='button submit-order bg-mix padding-top-10'/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type='button' value='取消' onclick="javascript:window.parent.close_layer();" class='button bg-grey'/>
            </div>
        </div>
    </form>



    <script>
        var body = $('body');
        var _this,data,load,confirm;

        $(".submit-order").click(function () {

            _this = $(this);

            if($(":input[name='title']").val() == '') {
                layer.msg('请填写节点名称');
                return false;
            }
            if($(":input[name='name']").val() == '') {
                layer.msg('请填写节点连接');
                return false;
            }
            $.ajax({
                data: $("#post_form").serializeArray(),
                type: 'post',
                url:"{:U('NodeEdit')}",
                dataType: 'json',
                beforeSend:function() {
                    _this.prop('disabled', 'true');
                    load = layer.load(2);
                },
                success: function (data) {
                    layer.msg(data.msg);

                    if(data.status)
                    {
                        setTimeout(function() {window.parent.close_layer(data.msg);}, 700)
                    }
                },
                complete:function() {
                    _this.prop('disabled', '');
                    layer.close(load);
                },
                error:function() {
                    layer.msg('系统繁忙');
                }
            });
        });
    </script>
</block>