<extend name="../../Home/View/Public/base" />
<block name="page-content">
    <div class="view-product">
        <div class="info-center">
            <div class="search_style table-margin">
                <div class="title_names text-blue">左侧子菜单管理(请不要轻易改动)</div>
<!--                
                <ul class="search_content clearfix">
                    <li style="float: right">
                        <a href="javascript:void(0)" data-url="__URL__/NodeUpdate" onclick="open_layer(this, '请输入菜单名称', '50%', '340px')"  class="btn btn-warning btn-small">添加菜单</a>
                    </li>
                </ul>-->
            </div>

            <div class="table-margin ">
                <notempty  name="list">
                    <table class="table table-hover">
                        <tr class="table-header border">
                            <!--<th class="">编号</th>-->
                            <th class="w20">菜单名称</th>
                            <th class="w20">参数配置</th>
                            <th class="w10">归属菜单</th>
                            <th class="w10">是否为菜单</th>
                            <th class="w10">显示顺序</th>
                            <th class="w15">操作</th>
                        </tr>

                        <tbody id="itemContainer">
                        <volist name="list" id="item">
                            <tr class="list">
                                <!--<td>{$item.id}</td>-->
                                <td>{$item.title}</td>
                                <td>{$item.name}</td>
                                <td>{$item.groupname}</td>
                                <td style="padding-left: 30px;">{$item.ismenu}</td>
                                <td style="padding-left: 30px;">{$item.sort}</td>
                                <td>
                                    <eq name="item.opt" value="1">
                                    <a href="javascript:void(0)" data-url="__URL__/NodeEdit/id/{$item['id']}" onclick="open_layer(this, '请输入菜单名称', '50%', '340px')"  class="btn btn-warning btn-small">修改</a>
                                    | <a href="javascript:void(0)" class="btn btn-info btn-small use" onClick="javascript:return del('{$item.id}')">删除</a>
                                    </eq>
                                    <!--
                                    <eq name="item.status" value="1">
                                        | <a href="javascript:void(0)" data-id="{$item['id']}" data-url="__URL__/start" class="btn btn-info btn-small use">停用</a>
                                        <else/>
                                        | <a href="javascript:void(0)" data-id="{$item['id']}" data-url="__URL__/start" class="btn btn-warning btn-small use">启用</a>
                                    </eq>
                                    -->
                                </td>
                                
                            </tr>
                        </volist>
                        </tbody>

                    </table>
                    <else/>
                    <div style="text-align:center"><span style="color:#CCCCCC;font-size:18px">没有符合条件的记录</span></div>
                </notempty >
            </div>
            <!-- fpage -->
            <div class="page">{$fpage}</div>
        </div>
    </div>

    <script>

        function del($id){
            $.ajax({
                type:'POST',
                url:"{:U('NodeDel')}",
                data:{'id':$id},
                dataType:'json',
                success:function(obj) {
                    msg(obj.msg);
                    if(obj.status){redirect(window.location.href)}
                    return false;
                }
            });
        }
        
        function open_layer(obj, title, width, height) {
            var url = $(obj).data('url');
            layer.open({
                type: 2,
                title: title,
                shadeClose: true,
                shade: 0.8,
                skin: 'layui-layer-title-jxc',
                area: [width, height],
                content:url,
            });
        }
        
        function close_layer(msg) {
            if (msg) {
                setTimeout(function () {
                    layer.closeAll('iframe');
                }, 500);
                layer.msg(msg);
                window.location.reload();
            } else {
                layer.closeAll('iframe');
            }
        }

    </script>


</block>

