<extend name="../../Home/View/Public/base" />

<block name="page-content">
    <div class="view-product">
        <form id="ff">
            <div class="info-center">
                <div class="manage-head">
                    <h6 class="padding-left manage-head-con">添加租车公司</h6>
                </div>

                <div class="offcial-table input-table table-margin clearfix ">
                    <div class="tr-th clearfix ">
                        <div class="th w100 padding-left-15">基本信息</div>
                    </div>
                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w33">公司名称：<span style="line-height:30px;">
                        <input type="text" style="width:320px" class="input" placeholder=" 请填写租车公司名称" name="name"/>
                        </span></div>
                    </div>
                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w33">联系人名：<span style="line-height:30px;">
                            <input type="text" placeholder=" 请填写联系人姓名" class="input" style="width:320px;" name="link_man"/></span></div>
                    </div>
                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w33">联系电话：<span style="line-height:30px;padding-left:5px;"><input type="text" placeholder=" 请填写联系方式" style="width:320px" class="input" name="link_phone"/></span></div>
                    </div>
                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w33">银行卡号：<span style="line-height:30px;padding-left:5px;"><input type="text" placeholder=" 请填写银行卡号" style="width:320px" class="input" name="blank"/></span></div>
                    </div>
                    <!--<div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w20">达标人数：<span style="line-height:30px;padding-left:5px;"><input type="number" value="10" style="width:100px;" class="input" name="standard_person"/></span></div>
                        <div class="td w20">达标金额：<span style="line-height:30px;padding-left:5px;"><input type="number" value="7000" style="width:100px;" class="input" name="standard_money"/></span></div>
                    </div>
                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w20">奖励人数：<span style="line-height:30px;padding-left:5px;"><input type="number" value="1" style="width:100px;" class="input" name="reward_person"/></span></div>
                        <div class="td w20">奖励金额：<span style="line-height:30px;padding-left:5px;"><input type="number" value="500" style="width:100px;" class="input" name="reward_money"/></span></div>
                    </div>-->
                    <div class="tr clearfix border-bottom padding-left-15">
                        <div class="td w66">详细地址：<span style="line-height:30px;padding-left:5px;"><input type="text" placeholder=" 请填写详细地址" style="width:1000px;" class="input" name="address"/></span></div>
                    </div>
                </div>

                <!--操作按钮 start-->
                <div class="text-center padding-top">
                    <div class="td w80">
                        <button type="button" class="button bg-blue inlib-product" id="sub">提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:history.go(-1)"><button type="button" class="button bg-gray inlib-product">返回</button></a>
                    </div>
                </div>
                <!--操作按钮 end -->

        </div>
        </form>
    </div>

    <input type="hidden" id="ref_url" value="{$ref_url}" />

    <script>
        var data,confirm,load,_this;

        $(function() {
            sub();
        })

        function sub() {
            $('body').on('click', '#sub', function() {
                _this = $(this);

                $.ajax({
                    type:'POST',
                    data:$('#ff').serialize(),
                    dataType:'json',
                    beforeSend:function() {
                        _this.prop('disabled', 'true');
                        load = layer.load(2);
                    },
                    success:function(obj) {
                        msg(obj.msg);
                        if(obj.status) { redirect($('#ref_url').val());}
                    },
                    complete:function() {
                        _this.prop('disabled', '');
                        layer.close(load);
                    },
                    error:function() {
                        msg('系统繁忙');
                    }
                });
            });
        }



    </script>

</block>