<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="renderer" content="webkit">
        <title></title>
        <link rel="stylesheet" href="__PUBLIC__/client/css/pintuer.css">
        <link rel="stylesheet" href="__PUBLIC__/client/css/admin.css">
        <script src="__PUBLIC__/client/js/jquery.js"></script>
        <script src="__PUBLIC__/client/js/pintuer.js"></script>
    </head>
    <body>
        <div class="panel admin-panel">
            <div class="panel-head"><strong><span class="icon-key"></span> 修改我的信息</strong></div>
            <div class="body-content">
                <form method="post" class="form-x" action="">
                    <div class="form-group">
                        <div class="label">
                            <label for="sitename">租车公司名称：</label>
                        </div>
                        <div class="field">
                            <label style="line-height:33px;">
                                {$session.invite_name}
                            </label>
                        </div>
                    </div>      
                    <div class="form-group">
                        <div class="label">
                            <label for="sitename">新密码：</label>
                        </div>
                        <div class="field">
                            <input type="password" class="input w50" name="password" size="50" id="password" placeholder="请输入新密码" data-validate="required:请输入新密码,length#>=5:新密码不能小于5位" />         
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">
                            <label for="sitename">确认新密码：</label>
                        </div>
                        <div class="field">
                            <input type="password" class="input w50" name="repassword" size="50" id="repassword" placeholder="请再次输入新密码" data-validate="required:请再次输入新密码,password#repassword:两次输入的密码不一致" />          
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="label">
                            <label></label>
                        </div>
                        <div class="field">
                            <button class="button bg-main icon-check-square-o" type="submit" id="sub"> 提交</button>   
                        </div>
                    </div>      
                </form>
            </div>
        </div>
        
        <script>
            var data, confirm, load, _this;

            $(function () {
                sub();
            })

            function sub() {
                $('body').on('click', '#sub', function () {
                    _this = $(this);

                    var password = $('#password').val();
                    var repassword = $('#repassword').val();
                    var err = '';
                    if (password == '')
                        err += '请输入新密码;';
                    if (repassword == '')
                        err += '请输入确认新密码;';
                    if (password != repassword)
                        err += '两次密码不一致;';

                    if (err != '') {
                        msg(err);
                        return false;
                    } else {
                        $.ajax({
                            type: 'POST',
                            url: "{:U('edit_password')}",
                            data: {
                                password: password,
                                repassword: repassword

                            },
                            dataType: 'json',
                            success: function (obj) {
                                msg(obj.msg);
                                return false;
                            }
                        });
                    }

                });
            }



        </script>
    </body>
</html>