<extend name="../../Home/View/Public/base" />

<block name="page-content">
    <div class="view-product">
        <div class="view-product">
            <form id="ff">
                <div class="info-center">
                    <div class="manage-head">
                        <h6 class="padding-left manage-head-con">设置公司密码<a href="javascript:history.go(-1)" class="button fr margin-right-75">返回</a></h6>
                    </div>

                    <div class="offcial-table input-table table-margin clearfix ">
                        <div class="tr-th clearfix ">
                            <div class="th w100 padding-left-15">基本信息</div>
                        </div>
                        <div class="tr clearfix border-bottom padding-left-15">
                            <div class="td w33">公司名称：<span style="line-height:50px;padding-left:5px;">{$session.invite_name}</span></div>
                        </div>
                        <div class="tr clearfix border-bottom padding-left-15">
                            <div class="td w33">新的密码：<span style="line-height:50px;padding-left:5px;"><input type="password" placeholder="请输入新密码" style="width:320px" class="input" id="password" name="password"/></span></div>
                        </div>
                        <div class="tr clearfix border-bottom padding-left-15">
                            <div class="td w33">确认密码：<span style="line-height:50px;padding-left:5px;"><input type="password" placeholder="请输入确认新密码" style="width:320px" class="input" id="repassword" name="repassword"/></span></div>
                        </div>
                    </div>

                    <!--操作按钮 start-->
                    <div class="text-center padding-top">
                        <div class="td w80">
                            <button type="button" class="button bg-blue inlib-product" id="sub">提交</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:history.go(-1)"><button type="button" class="button bg-gray inlib-product">返回</button></a>
                        </div>
                    </div>
                    <!--操作按钮 end -->

                </div>
            </form>
        </div>


        <script>
            var data, confirm, load, _this;

            $(function () {
                sub();
            })

            function sub() {
                $('body').on('click', '#sub', function () {
                    _this = $(this);

                    var password = $('#password').val();
                    var repassword = $('#repassword').val();
                    var err = '';
                    if (password == '')
                        err += '请输入新密码;';
                    if (repassword == '')
                        err += '请输入确认新密码;';
                    if (password != repassword)
                        err += '两次密码不一致;';

                    if (err != '') {
                        msg(err);
                        return false;
                    } else {
                        $.ajax({
                            type: 'POST',
                            url: "{:U('edit_password')}",
                            data: {
                                password: password,
                                repassword: repassword

                            },
                            dataType: 'json',
                            success: function (obj) {
                                msg(obj.msg);
                                return false;
                            }
                        });
                    }

                });
            }



        </script>

</block>