<extend name="../../Home/View/Public/base" />
<block name="page-content">
    <div class="view-product">
        <div class="info-center">
            <form>
                <div class="search_style table-margin">
                    <div class="title_names text-blue">乘客列表信息</div>
                    <ul class="search_content clearfix">
                        <li class='w20'>
                            <input type="text" placeholder="请输入手机号或真实姓名进行模糊查询" value="{$mobile}" name="mobile" class="w100 height34 border">
                        </li>
                        <li class='w20'>
                            <laber>启用状态</laber>
                            <span style="margin-left: 15px;">已启用<input type="radio" name="status" value="1" class="border w5 status" {eq name="{$status}" value="1"}checked{/eq}/></span>
                            <span style="margin-left: 15px;">已禁用<input type="radio" name="status" value="0" class="border w5 status" {eq name="{$status}" value="0"}checked{/eq}/></span>
                        </li>
                        <li class='w30'>
                            <laber>注册时间</laber>
                            <span style="margin-left: 15px;">起<input type="text" style="margin-left: 5px;" id="LAY_demorange_s" name="start_time" value="{$start_time}" class="border w25 status"/></span>
                            <span style="margin-left: 15px;">止<input type="text" style="margin-left: 5px;" id="LAY_demorange_e" name="end_time" value="{$end_time}" class="border w25 status"/></span>
                        </li>

                        <li class=''><button class="btn_search button bg-blue" id="search"><i class="fa fa-search"></i> 搜索</button></li>
                        <li class=''><a href="{:U()}"><button class="btn_search button bg-orange">刷新</button></a></li>
                    </ul>
                </div>
            </form>
                
            <div class="table-margin ">
                <notempty  name="list">
                    <table class="table table-hover">
                        <tr class="table-header border">
						<th class="w5">编号</th>
                            <th class="w15">手机</th>
                            <th class="w10">姓名</th>
                            <!--<th class="w10">真实姓名</th>-->
                            <th class="w20">身份证</th>                            
                            <th class="w10">启用状态</th>
                            <!--
                            <th class="">总收入</th>
                            <th class="">总提现</th>
                            <th class="">余额</th>
                            <th class="">积分</th>
                            <th class="w15">最近登录</th>
                            -->
                            <th class="w15">注册时间</th>
                            
                            <th class="w20">操作</th>
                        </tr>

                        <tbody id="itemContainer">
                        <volist name="list" id="item">
                            <tr class="list">
							<td>{$i}</td>
                                <td>{$item.mobile}</td>
                                <!--<td>{$item.nick_name|default='-'}</td>-->
                                <td>{$item.invite_name|default='-'}</td>
                                <td>{$item.cart_id}</td>                                
                                <td>{$item.status|getUseTxt}</td>
                                <!--
                                <td>{$item.income}</td>
                                <td>{$item.spend}</td>
                                <td>{$item['income'] - $item.spend}</td>
                                <td>{$item.integral}</td>
                                <notempty name="item.login_time">
                                    <td>{$item.login_time|date='Y-m-d H:i', ###}</td>
                                    <else />
                                    <td>-</td>
                                </notempty>
                                -->
                                <td>{$item.create_time|date='Y-m-d H:i', ###}</td>
                                

                                <td>
                                    <a href="__URL__/Info/user_id/{$item.id}" class="btn btn-success btn-small">查看详情</a>

                                    <eq name="item.status" value="1">
                                    | <a href="javascript:void(0)" data-id="{$item['id']}" data-url="__URL__/start" class="btn btn-info btn-small use" onclick="use()">停用</a>
                                        <else/>
                                        | <a href="javascript:void(0)" data-id="{$item['id']}" data-url="__URL__/start" class="btn btn-warning btn-small use" onclick="use()">启用</a>
                                    </eq>
                                    | <a href="/index.php/Home/Bill/countList/id/{$item.id}/usertypes/2" class="btn btn-success btn-small">统计</a>
                                    
                                </td>
                            </tr>
                        </volist>
                        </tbody>

                    </table>
                    <else/>
                    <div style="text-align:center"><span style="color:#CCCCCC;font-size:18px">没有符合条件的记录</span></div>
                </notempty >
            </div>
            <!-- fpage -->
            <div class="page">{$fpage}</div>
        </div>
    </div>

    <input type="hidden" id="url" value="{$url}" />

    <script>

        $(function() {
            search();
            use();
        })


        function use() {
            $('body').on('click', '.use', function() {

                var _this = $(this);
                var load;

                $.ajax({
                    type:'POST',
                    url:_this.data('url'),
                    data:{'user_id':_this.data('id')},
                    dataType:'json',
                    beforeSend:function() {
                        $('body').off('click', '.use');
                        load = layer.load(2);
                    },
                    success:function(obj) {
                        msg(obj.msg);
                        if(obj.status){
                            redirect(window.location.href)
                        }
                    },
                    complete:function() {
                        use();
                        layer.close(load);
                    },
                    error:function() {
                        msg('系统繁忙');
                    }
                });

            });
        }
        layui.use(['laypage', 'layer','laydate'], function(){
            var laypage = layui.laypage;
            var allpage = $("#allpage").val();
            var laydate = layui.laydate;

            var start = {
                min : '2016-01-01 00:00 ;00',
                max : '2099-12-30 00:00 00',
                istoday : false,
                choose : function(datas){
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            }
            var end = {
                min : laydate.now(),
                max : '2099-12-30 00:00 00',
                istoday : false,
                choose : function(datas){
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            }
            document.getElementById('LAY_demorange_s').onclick = function(){
                start.elem = this;
                laydate(start);
            }
            document.getElementById('LAY_demorange_e').onclick = function(){
                end.elem = this;
                laydate(end);
            }
        })
    
    </script>

</block>

