<extend name="../../Home/View/Public/base" />
<block name="page-content">
    <div class="view-product">
        <div class="info-center">
            <div class="search_style table-margin">
                <div class="title_names text-blue">线路信息</div>
                <ul class="search_content clearfix">
                    <li class='w30'>
                        <input type="text" placeholder=" 请填写地区名称" value="{$c['word']}" class="w100 height34 border" id="word">
                    </li>

                    <li class=''><button class="btn_search button bg-blue" id="search"><i class="fa fa-search"></i> 搜索</button></li>
                    <li class=''><a href="{:U()}"><button class="btn_search button bg-orange">刷新</button></a></li>
                    <li class=''><a href="javascript:;" id='addroute'><button class="btn_search button bg-success">添加线路</button></a></li>
                </ul>
            </div>

            <div class="table-margin ">
                <notempty  name="list">
                    <table class="table table-hover">
                        <tr class="table-header border">
                            <th class="" style="width:50px">#</th>
                            <th class="">发货城市</th>
                            <th class="">发货站点</th>
                            <th class="">收货城市</th>
                            <th class="">收货站点</th>
                            <th class=''>运费</th>
                            <th class="">状态</th>
                            <th class="w15">操作</th>
                        </tr>

                        <tbody id="itemContainer">
                        <volist name="list" id="item">
                            <tr class="list">
                                <td>{$i}</td>
                                <td>{$item.fromcity}</td>
                                <td>{$item.fromstation}</td>
                                <td>{$item.tocity}</td>
                                <td>{$item.tostation}</td>
                                <td>{$item.freight}</td>
                                <eq name="item.state" value="1" >
                                    <td><span class="text-green">已启用</span></td>
                                    <else/>
                                    <td><span class="text-red">已禁用</span></td>
                                </eq>
                                <td>
                                   
                                    <a href='javascript:;' data-url='{:U("edit",array("id"=>$item["id"]),"html",true)}' class="btn btn-success btn-small" id="edit">修改</a>
                                    |
                                    <a href='javascript:;' data-id='{$item["id"]}' class="btn btn-info btn-small" id="del">删除</a>

                                </td>
                            </tr>
                        </volist>
                        </tbody>

                    </table>
                    <else/>
                    <div style="text-align:center"><span style="color:#CCCCCC;font-size:18px">没有符合条件的记录</span></div>
                </notempty >
            </div>
        </div>
    </div>


    <script>
        $(function(){
            $("#edit").click(function(){
                var url=$(this).attr('data-url');
                    layer.open({
                        type: 2,
                        title: '修改线路信息',
                        shadeClose: false,
                        shade: 0.2,
                        maxmin: false, //开启最大化最小化按钮
                        area: ['500px', '400px'],
                        content: url,
                        end:function(){
                            window.location.reload(true)
                        }
                    });
            });
            
            $("#del").click(function(){
                var id=$(this).attr('data-id');
                layer.confirm('确定删除此线路？', {
                        btn: ['确定','取消'] //按钮
                    }, function(){
                        layer.closeAll();
                        layer.load();
                        $.post("{:U('del','','html',true)}",{id:id},function(res){
                            layer.closeAll();
                            if(res.state === 1){
                                layer.msg(res.msg, {icon: 1,time:2000},function(){
                                    window.location.reload(true);
                                });
                                
                            }else{
                                alert(res.msg)
                            }
                        },'json')
                        
                    });
                
                
            })
            
            $("#addroute").click(function(){
                var url="{:U('add','','html',true)}";
                layer.open({
                        type: 2,
                        title: '新增线路信息',
                        shadeClose: false,
                        shade: 0.2,
                        maxmin: false, //开启最大化最小化按钮
                        area: ['500px', '400px'],
                        content: url,
                        end:function(){
                            window.location.reload(true)
                        }
                    });
            })
        })
    </script>

</block>

