<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>用户协议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <meta content="chengFeng" name="author" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="__PUBLIC__/invite/css/database.css" />
    <script src="http://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
    <script src="__PUBLIC__/default/layer/layer.js" type="text/javascript"></script>
    <script src="__PUBLIC__/default/global.js" type="text/javascript"></script>
</head>
<body>

<div class="main">
    <div>{$protocol}</div>
</div>


<script type="text/javascript" src="__PUBLIC__/invite/js/public.js"></script>
</body>
</html>